/*GENERAL*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

section{
    padding: 170px 200px;
}


/* MENÚ */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: rgba(31, 31, 68, 0.15);
    backdrop-filter: blur(50px);
    padding: 14px 20px;
    width: 100%;
    box-sizing: border-box;
    transition: background 0.5s ease, backdrop-filter 0.5s ease;
}

.name {
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    font-weight: 520;
    margin-left: 35px;
}

span {
    font-weight: 800;
    color: #E5D283;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.navbar {
    display: flex;
}

.navbar a {
    color: #fff;
    margin-right: 35px;
    transition: color 0.5s ease, padding-right 0.5s ease;
}

.navbar a:hover {
    color: #E5D283;
    padding-right: 5px;
}

@media screen and (max-width: 750px) {
    .name {
        margin:auto;
        font-size: 20px;
    }

    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: rgba(31, 31, 68, 0.15);
        backdrop-filter: blur(20px);
        align-items:flex-start;
    }

    .navbar a{
        margin-left: 10px;
        padding: 10px ;
    }

    .navbar.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
        color: #E5D283;
    }

}


/*SIGUE*/
/*SOBRE MI*/
.about-div {
    padding: 40px 40px;
    border: 1px solid #E5D283;
    border-radius: 50px;
    background: linear-gradient(to right, #1b2a44, #2d4163);
}

#about{
    color: #fff;
    background-color: #1a263b;
    display: block;
    text-align: center;
}

/*TECNOLOGIAS*/
.contenedor-imagenes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 60px; /* Espacio de 10 píxeles entre filas */
    grid-column-gap: 20px;
    justify-content: center; /* Centra las columnas horizontalmente */
}

.contenedor-imagenes img {
    width: 70px; /* O ajusta el tamaño según tus necesidades */
    height: 70px;
}

#technologies {
    color: #fff;
    background-color: #152846;
}


/*PROYECTOS*/
#projects {
    color: #fff;
    background-color: #2d4163;
}


/*CONTACTO*/
#contact {
    color: #fff;
    background-color: #213555;
}


/*FOOTER*/
footer {
    background-color: #0e1625;
    color: #E5D283;
    text-align: center;
    padding: 8px 0;
}

a {
    color: #0066cc;
    text-decoration: none;
}